.container{
    padding: 10% 10%;
    min-width: 100%;
    min-height: 100%;
    background: rgb(255, 77, 190);
    background:linear-gradient(90deg, rgba(242,112,156,1) 0%, rgba(255,148,114,1) 100%); 
}

.topSongBtn{
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    padding: 100px 100px;
}

.spotifyInfoButton{
    display: inline;
    justify-content: 'space-between';
    align-items: 'center';
}

.spotifyArtistInfoButton{
    display: inline;
    justify-content: 'space-between';
    align-items: 'center';
}


button{
    border-radius: 100px;
    transition: all 0.3s ease 0s;
    width: 200px;
    height: 60px;
    display: inline;
    cursor: pointer;
    color:white;
    font-family: "Roboto", sans-serif;
    border: rgba(0, 0, 0, 1) 5px; 
    padding: 0px 28px;
    background:rgb(196, 77, 255);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    align-items: 'center';
}


