.Hero {
    display: block;
    background-image: linear-gradient( 109.6deg,  rgba(45,116,213,1) 11.2%, rgba(121,137,212,1) 91.2% );
    height: 100%;
    width: 100%;
    padding: 20% 20%;
    color: white;
}