@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@200;300&display=swap');

.Hero {
    font-family: "Roboto", sans-serif;
    display: block;
    max-height: 10px;
    background: rgb(242,112,156);
    background: linear-gradient(90deg, rgba(242,112,156,1) 0%, rgba(255,148,114,1) 100%);
}

.NavigationBar{
    font-family: "Montserrat", sans-serif;
    background: rgb(242,112,156);
    background: linear-gradient(90deg, rgba(242,112,156,1) 0%, rgba(255,148,114,1) 100%);
    /* color: white; */
}

a {
    color:white;
}

button{
    align-items: center;
    display: grid;
    border-radius: 50%;
}
